body {
    background-color: black;
    text-align: center;
}

h1 {
    margin: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, label, p{
    color: aqua;
}

label, p{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

form {
    display: inline-block;
}

.inline-block {
    display: inline-block;
}